<style>
  .fa-check {
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;;
  }
</style>

<section>
  <div class="w-md-80 w-lg-60 text-center mx-md-auto">
    <div class="mb-5">

      <span class="fa fa-check"></span>

      <h1 class="h2 mb-3">Your payment is successful</h1>
      <h4 class="mb-3
      ">Your order number is {{order_number}}</h4>
      <p>Please check your email for a confirmation email for this order!</p>
    </div>
    <a class="btn btn-primary btn-wide" href="/">Back to Home</a>
  </div>
</section>