<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Chun Mee Lee</h5>
        <p>Last Family Rattan business in Singapore</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
         <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="/shopping/viewCart">Shopping Cart</a>
          </li>
          <li>
            <a href="/promo/all_Promos">All Promos (Staff)</a>
          </li>
          <li>
            <a href="/promo/viewPromos">Current Promotions</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <div class="footer-copyright text-center py-3"> Copyright: Chun Mee Lee

  </div>


</footer>
<!-- Footer -->

<style>
  footer {
    background: #f7f7f7;
    width: 100%;
    margin-top: 10%;
  }

  .footer-copyright {
    background: #e9e9e9;
  }

  .list-unstyled > li > a {
    color: black;
  }
</style>