<img src="../img/CML.jpg" alt="">
<p>
    Chun Mee Lee is founded in 1948 by Chen Foo Kee's father, a Hakka Chinese immigrant who started business 
    in 1948 after moving here from Southern China. Chen Foo Kee learned the craft of making rattan chairs 
    from both his parents since the age of 11. He took over the business when he was 19 back in 1969, 
    when his father died unexpectedly. Back then, rattan furniture was fasionable in Singapore, 
    and could be found in most household. Chun Mee Lee even shipped many pieces overseas, where there was a big 
    demand for rattan products.
</p>
<br>
<img src="../img/chenFoonKee.jpg">
<p>
    Chun Mee Lee is one of the last few rattan furniture store left in Singapore. Learning the art takes time and 
    dedication. In the Hakka tradition, rattan makers are required to start as apprentices and learn the skills 
    from a master craftsman for 2 to 3 years before starting their own business. Chen Foo Kee started learning 
    how to make rattan furniture when he was still a student. He would watch his father's work and copy his 
    actions. 
</p>
<br>
<img src="../img/makingProd.jpg">
<p>
    To make a perfect piece of rattan furniture, a craftsman has to peel off the skin of each rattan strand 
    before carefully cutting it into sections based on the size of the product. Rattan is very durable and 
    airy and it is very suitable for making furniture. Chen Foo Kee has been handweaving raw rattan - 
    thin stems of a type of palm that grows through Southeast Asia - into shelves, chairs, and tables. 
</p>
<br>
<img src="../img/upcloseProd.jpg">
<p>
    With the help of tools such as hammers and chisels, rattan can be woven into a different sizes and shapes
    depending on the needs of customers. The seats all have to be made to a specific height and width, 
    regardless of the style. The process is also intimate and requires a great deal of focus.
</p>
<br>