<style>
    .btn {
    width: 100px;
    height: 35px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 22px;
}

    img{
        display: center;
    }
</style>
<div class="jumbotron text-center">
        <h3> Profile </h3>
        <br>
	    <div class="row">
        <div class="col">
            <img src="../img/noimg.jpg">
        </div>
        <div class="col">
            <h5>Username: </h5>
            <p>Hi</p>
            <h5>Name: </h5>
            <p>Daryl</p>
            <h5>Contact Number: </h5>
            <p>98765432</p>
            <h5>Address: </h5>
            <p>123 NYP Street</p>
            <h5>Email: </h5>
            <p>1234@gmail.com</p>
            <br>
            <a href="/showEditProfile" class="btn">Edit</a>
        </div>
    </div>

</div>