<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Rattan Furniture Store</p>
	</div>
	<br>
</div>
<div>
	<h2 class="display-4">We sell handmade Rattan Furnitures!</h2>
    <p class="lead">Welcome, username</p>
	<p class="lead">Come and take a look!</p>
</div>
