<h1 id="MainHeader">Inventory Management</h1>
<h2 id="Sum">Extra</h2>
<h5 id="breadcrumb">Supplier's Side:</h5>
{{>_invnavbar}}
<div>
    <a href="/deal/addDeal">Supplier Add Deal</a>
</div>
<div>
    <a href="/transaction/addTransaction">Supplier Add Normal</a>
</div>
<div>
    <a href="/invdelivery/addinvdelivery">Update Delivery Status</a>
</div>
<script>
	
</script>
<style>
#MainHeader{
	text-align: center;
	text-decoration: underline;
}
</style>