<h1 id="MainHeader">Inventory Management</h1>
<h5 id="breadcrumb">Staff>Stock>Returns</h5>
{{>_invnavbar}}
<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<img class="logo" src="/img/Faulty.jpeg">
			<h3 class="text-center">Faulty Rattan Returns</h3>
			<form method="post" action="/stock/rattanReturns/{{stocks.id}}"> 
				<div class="form-group">
					<label for="id">From Record: {{stocks.id}}</label>
				</div>
                <div class="form-group">
					<label for="id">Current Amount: {{stocks.leftover}}</label>
				</div>
                <div class="form-group" id="CurrentDate">
                        <label for="stkdates">Current Date</label>
					    <input id="datepicker" width="200" name="stkdates" readonly/>
				</div>
                <div class="form-group">
					<label for="stkamts">Returning Amount of Damaged Rattan</label>
					<input type="number" name="stkamts" class="form-control" value="{{stkamts}}" required>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<a id="CancelButton" class="btn btn-primary" href="/stock/viewinvStock">Cancel</a>
			</form>
		</div>
	</div>
</div>
<script>
	$('#datepicker').datepicker({
		value: new Date().toLocaleDateString(),
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
	});
</script>
<style>
#CancelButton{
    color: white;
    text-decoration: none;
}
#MainHeader{
	text-align: center;
	text-decoration: underline;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    /* 5px rounded corners */
}
</style>